div{
	background-color: #F4A3BA;
	border: 10px solid purple;
	border-radius: 10px;
	padding: 40px 30px;
	
	}

div p{
       background-color: #FFFFFF;
       border: 1px dashed green;
       padding: 10px 20px 10px 20px;
       text-align: center;
     }

#cajap{background-color:green;
		width: 300px;
		height: 200px;
		border: 3px dashed yellow;
		border-radius: 5px;
		padding: 50px 30px 20px 10px;
		margin: 30px 40px 30px 40px;
		display: inline-block;
	}

#cajap p{text-align: center;
		 border:3px solid;
		 border-radius: 10px;
		 padding: 50px;
		}

#cajaatras{background-color:blue;
		  width: 100px;
		  height: 200px;
		  border: 1px solid black;
		  border-radius: 1px;
		  padding: 20px 10px 20px 10px;
		  margin: 30px 10px 20px 3px;
		  display: inline-block;
		}
#cajaatras p{ background-color: #AEE2F8;
			  width: 120px;
			  height: 200px;}